@use "../styles/Component.scss" as component;
.section-blog-list{
    width:68%;
    background-color: transparent;
    position: relative;
    .card{
        @extend %d-flex;
        justify-content: space-between;
        .card-image{
            width:40%;
            border-radius: 15px;            
            box-shadow:component.$medium-shadow;
            img{
                display: block;
                width:100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }
        }
        .card-content{
            width:60%;
            padding: 20px;
            padding-left: 40px;
            .card-title{
                margin-bottom: 15px;
                h2{
                    font-size: component.$text-lg;   
                    @extend .line-clamp;        
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    line-height: 1.45;
                }
            }  
            .meta{
                @extend %d-flex;
                justify-content:start;
                .author-bio{
                    @extend %d-flex;
                    justify-content: flex-start;
                    text-decoration: none;
                    .img{
                        width:40px;
                        height:40px;
                        @extend %d-flex;
                        border-radius: 100%;
                        overflow: hidden;
                        margin-right:8px;
                        img{
                            width:100%;
                            height:100%;
                            object-fit: cover;
                        }
                    }
                    .author-name{
                        font-size:component.$text-xsm;
                        & span{
                            color:component.$primary;
                        }
                    }
                }
                .time{
                    font-size:component.$text-xsm;
                    color:component.$text-color-light;
                    margin-left: 12px;
                    .dot{
                        margin-right: 12px;
                        margin-left: 0;
                    }
                }
            }
            .card-text{
                margin-top:15px;
                p{
                    margin:0;
                    font-size:component.$text-sm;
                    line-height: 1.5;
                    @extend .line-clamp;        
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                } 
            }
            .btn-group{
                @extend %d-flex;
                justify-content: space-between;
                margin-top: 30px;
                .btn{
                    font-size:component.$text-sm;
                    color:component.$white;
                    font-weight: 600;
                    line-height: 1.8;
                }
                .time{
                    font-size:component.$text-xsm;
                    color:component.$text-color-light;
                }
            }
        }  
        +.card{
            margin-top: 80px;
        }
        
    }
}