@use "../styles/Component.scss" as component;
.section-slider{
    @extend %d-flex;
    width:100%;
    justify-content: space-between;
    .section-slider-image{
        width:60%;              
        .item-image{
            @extend %d-flex;
            width:100%;
            height:100%;  
            overflow: hidden;  
            border-radius: 15px;
            img{
                display: block;
                width:100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .slick-dots{
           bottom:-30px;
            li{
                button{
                    width:12px;
                    height:12px;
                    background-color:component.$light-gray;
                    border-radius: 99999px;
                    transition:all .3s ease-in-out;
                    &:before{
                        content:"";
                    }
                }
                &.slick-active{
                    button{
                        width:25px;
                        background-color:component.$primary;
                    }
                }
            }
        }
        .slick-slider{
            .slick-arrow{
                display:none!important;
            }
        }
        
    }
    .section-slider-content{
        width:40%;
        background-color:component.$white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding:0 2vw 12px 5vw;
        box-shadow: component.$boxes-shadow;
        .item{
            margin:12px 0;
            padding-top:25px;
            padding-bottom:12px;
            position: relative;
            .count{
                background: component.$gradient-color;
                position:absolute;
                left:-3vw;
                top:30px;
                width:25px;
                height:25px;
                border-radius: 100%;
                color:component.$white;
                @extend %d-flex;
                font-size:component.$text-xsm;
                &.active{
                    background:component.$black;
                }
            }
            h2{
                font-size: component.$text-md;   
                @extend .line-clamp;        
                -webkit-line-clamp: 2;
                line-clamp: 2;
            }
            .article-content{
                height:0;
                overflow: hidden;
                transition:height .3s ease-in-out;               
                p{
                    margin:10px 0;
                    font-size:component.$text-sm;
                    line-height: 1.5;
                    @extend .line-clamp;        
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                }                
                .meta{
                    @extend %d-flex;
                    justify-content:start;
                    padding-top:5px;
                    .author-bio{
                        @extend %d-flex;
                        justify-content: flex-start;
                        text-decoration: none;
                        .img{
                            width:40px;
                            height:40px;
                            @extend %d-flex;
                            border-radius: 100%;
                            overflow: hidden;
                            margin-right:8px;
                            img{
                                width:100%;
                                height:100%;
                                object-fit: cover;
                            }
                        }
                        .author-name{
                            font-size:component.$text-xsm;
                            & span{
                                color:component.$primary;
                            }
                        }
                    }
                    .time{
                        font-size:component.$text-xsm;
                        color:component.$text-color-light;
                        margin-left: 12px;
                        .dot{
                            margin-right: 12px;
                            margin-left: 0;
                        }
                    }
                }
            }
            +.item{
                border-top:2px solid component.$border-color;
            }
            &:hover{
                .article-content{
                    height:120px;
                }
            }
            &.active{
                .count{
                    background:component.$black;
                }
                .article-content{
                    display:block;
                    height:120px;
                }
            }
        }
    }
}
