@use "../styles/Component.scss" as component;
.slider-small{
    position: relative;
    .categories-details{
        .cat-image{
            @extend %d-flex;
            box-shadow: component.$small-shadow;  
            overflow: hidden;  
            border-radius: 8px;                             
            img{
                display: block;
                width:100%;
                height:220px;
                object-fit: cover;                    
            }
        }
        .cat-name{
            display:block;
            margin-top: 20px; 
            h2{
                font-size:component.$text-sm;
            }
            .count{
                font-size:component.$text-xsm;
                color:component.$black;
                margin-top:8px;
            }
        }
    }
    .slider-btn{
        position: absolute;
        bottom:0;
        right:0;
        @extend %d-flex;
        .btn{
            @extend %d-flex;
            width:35px;
            height:35px;
            border-radius: 100%;
            padding:0;
            cursor: pointer;
            +.btn{
                margin-left:8px;
            }
            .fa{
                color:component.$white;
                font-size:14px;
            }
        }
    }
}