@import "../../../../../../components/styles/Component.scss";
.content-wrapper {
    margin-top: 80px;
    .section-blog-post{   
        @extend .d-flex;
        justify-content: space-between;
        align-items: flex-start;
        gap:60px;
    }
}
.post-detail-page{
    .section-post-title{
        @extend .d-flex;
        width:70%;
        margin:0 auto;
        .post-title-container{
            width:100%;
            .category-name{
                background-color: rgba($primary, .2);
                display: inline-block;
                padding:5px 10px;
                border-radius: 99999px;
                color:$primary;
                margin-bottom:20px;
                h6{
                    font-size:12px;
                    margin:0;
                    font-weight: 400;
                }
            }
            h2{
                font-size:$text-xxl;
                line-height: 1.2;
                font-weight: 800;
                color:$black;
            }
            .section-author{
                @extend .d-flex;
                justify-content: space-between;
                width:100%;
                margin-top:20px;
                border-top: 1px solid $boxes-border-color;
                padding-top:30px;
                margin-bottom:50px;
                .meta{
                    .author-bio{
                        @extend .d-flex;
                        .img{
                            @extend .d-flex;
                            width:45px;
                            height:45px; 
                            overflow: hidden;
                            border:1px solid $boxes-border-color;
                            border-radius: 100%;
                            img{
                                display: block;
                                width:100%;
                                height:100%;
                                object-fit: cover;
                            }                           
                        }
                        .author-name{
                            p{
                                font-size:$text-sm;
                                margin-left:12px;
                                span{
                                    color:$primary;
                                    font-weight: 600;
                                    transition:color .3s ease-in-out;
                                }
                                &:hover{
                                    span{
                                        color:$black;
                                    }
                                }
                            }
                            .time{
                                font-size:$text-xsm;
                                color:$text-color;
                                .dot{
                                    margin-left:10px;
                                }
                            }
                        }
                            
                            
                    }

                }
                .social{
                    @extend .d-flex;
                    justify-content: space-between;
                    .icon-box{
                        padding:10px 15px;
                        color:$text-color;
                        cursor: pointer;
                        border-radius: 99999px;
                        background-color: rgba($black, .03);
                        transition: background-color .1s ease-in-out;
                        .fa{
                            font-size:$text-sm;
                            &.fa-comment-o{
                                transform: scaleX(-1);
                            }
                        }
                        span{
                            font-size:$text-sm;
                            margin-left:4px;
                        }
                        &:hover{
                            background-color: rgba($black, .05);
                        }
                        &.value{
                            background-color:transparent;
                            &:hover{
                                background-color: rgba($primary, .2);
                                .fa, span{
                                    color:$primary;                                
                                }
                            }
                        }
                        +.icon-box{
                            margin-left:8px;
                        }
                        
                    }
                }
                
            }
        }
    }
    
    .section-blog-list{
        .post-feature-image{
            display:block;
            width:100%;
            height:450px;
            border-radius: 15px;
            box-shadow: $medium-shadow;
            overflow: hidden;
            img{
                display:block;
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
        .post-text{
            display:block;
            width:100%;
            margin-top:50px;
            p{
                margin:0 0 20px 0;
                font-size:$post-text;
                color:$black;
                line-height: 1.7;
            }
        }
        .section-tags{
            margin:30px 0;
            padding:30px 0 15px 0;
            border-top:1px solid $boxes-border-color;
            ul{
                @extend .d-flex;
                margin:0;
                padding:0;
                width:100%;
                flex-wrap: wrap;
                gap:15px;
                justify-content: flex-start;
                list-style-type: none;
                li{                    
                    border:1px solid $boxes-border-color;
                    border-radius: 99999px;                   
                    transition: all .1s ease-in-out;
                    a{
                        padding:8px 15px;
                        @extend .d-flex;
                        font-size: $text-xsm;
                        color:$black;
                    }
                    &:hover{
                        background-color:$boxes-background-color;
                    }
                }
            }
        }
        .section-title{
            position: relative;
            overflow: hidden;
            span{
                position: relative;
                z-index: 2;
                background-color: $white;
                padding-right:15px;
            }
            &:after{
                position: absolute;
                content:"";
                width:100%;
                height:1px;
                background-color:$boxes-border-color;
                left:12vw;
                top:15px;
                z-index: 1;
            }
        }
    }
    
}

//author card
.author-card{
    padding:10px 0 10px 50px;
    @extend .d-flex;
    justify-content: space-between;
    .author-avatar{
        @extend .d-flex;
        width:200px;
        height:200px;
        overflow: hidden;
        border-radius: 100%;
        box-shadow: $medium-shadow;
        margin-right:20px;
        img{
            display:block;
            width:100%;
            height:100%;
            object-fit: cover;         
        }
    }
    .bio{
        width:calc(100% - 250px);
        span{
            font-size:10px;
            color:$text-color;
            text-transform: uppercase;
        }
        h3{
            font-size:$text-md;
            color:$black;
            margin:5px 0 12px 0;
        }
        p{
            font-size:$text-sm;
            color:$black;
            line-height: 1.7;
        }
        .viewAll{
            padding:0;
            height:46px;
            width:140px;
            margin-top:16px;
            @extend .d-flex;
            color:$white;
        }
    }
}

.related-article{
    margin-top:40px;
    .meta{
        @extend .d-flex;
        justify-content: space-between;
        gap:30px;
        align-items: start;
        .article{
            margin:0;
        }
    }
}

//comment
.parent-container{
    @extend .d-flex;
    flex-direction: column;
    width:100%;
}
.post-comment{
    padding:50px 0;
    margin-top:40px;
    border-top:1px solid $light-gray;
    border-bottom:1px solid $light-gray;
    @extend .d-flex;
    flex-direction: column;
    .is-user{
        @extend .d-flex;
        flex-direction: column;
        h2{
            font-size:$text-md;
            color:$black;
            margin-bottom:10px;
        }
        p{
            font-size:$text-sm;
            color:$text-color;
            margin:0;
            margin-bottom:25px;
        }
        .signup{
            padding:0;
            width:140px;
            height:46px;
            @extend .d-flex;
            color:$white;
            font-size:$text-sm;
            font-weight: 600;
            margin-bottom:10px;
            cursor:pointer;
        }
        span{
            font-size:$text-sm;
            color:$text-color;
            margin:0;
            a{
                color:$primary;
            }
        }
    }
    .conment-input{
        width:100%;
        background-color:$boxes-background-color;
        border:1px solid $boxes-border-color;
        padding:25px 15px;
        border-radius: 15px;
        h3{
            margin-bottom:15px;
            color:$black;
            font-size: $text-md;
        }
        .comment-form{
            position: relative;
            textarea {
                margin: 0;
                padding: 0;
                background: none;
                border: none;
                border-radius: 0;
                outline: none;
                appearance: none;
                &.input-textarea{
                    width: 100%;
                    border-radius: 8px;
                    background: $white;
                    padding: 15px;
                    font-size: $text-sm;
                    resize: vertical;
                    color:$black;
                }
              }
            .btn-group{
                @extend .d-flex;
                justify-content: flex-start;
                margin-top:25px;
                .btn{
                    padding:0;
                    width:130px;
                    height:46px;
                    @extend .d-flex;
                    cursor: pointer;
                    font-size:$text-sm;
                    border-radius: 99999px;
                    &.filled{
                        color:$white;
                    }
                    +.btn{
                        margin-left:15px;
                    }                    
                }
            }
        }
    }

    //reply
    .comment-reply{
        border:1px solid $light-gray;
        border-radius: 15px;
        background-color:$white;
        padding:15px;
        margin-left:50px;
        position:relative;
        margin-top:40px;
        width:calc(100% - 50px);
        &.replied{
            width:calc(100% - 100px);
            align-self: flex-end;
        }
        .comment-author{
            position:absolute;
            width:35px;
            height:35px;
            border-radius: 100%;
            @extend .d-flex;
            overflow: hidden;
            left:-50px;
            top:20px;
            img{
                display: block;
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
        .comment-text{
            .author-name{
                @extend .d-flex;
                justify-content: flex-start;
                margin-bottom:12px;
                a{
                    font-size:$text-sm;
                    color:$primary;
                    transition:color .1s ease-in-out;
                    font-weight: 600;
                    &:hover{
                        color:$black;
                    }
                }
                .date{
                    font-size:12px;
                    color:$text-color;
                }
            }
            p{
                margin:0;
                font-size:$text-sm;
                    color:$black;
            }
            .reply-group{
                @extend .d-flex;
                justify-content: flex-start;
                margin-top: 16px;
                .like-btn{
                    padding:8px 15px;
                    background-color:rgba($black, .03);
                    border-radius: 99999px;
                    color:rgba($black, .9);
                    cursor: pointer;
                    @extend .d-flex;
                    justify-content: space-between;
                    span{
                        font-size:$text-sm;
                        margin-left:8px;
                    }
                    .reply-svg{
                        width:15px;
                    }
                    +.like-btn{
                        margin-left:15px;
                    }
                    &:hover{
                        background-color:rgba($primary, .1);
                        color:$primary;
                    }
                }
            }
            .reply-input{
                margin:16px 0;
                .comment-form{
                    position: relative;
                    textarea {
                        margin: 0;
                        padding: 0;
                        background: none;
                        border: none;
                        border-radius: 0;
                        outline: none;
                        appearance: none;
                        &.input-textarea{
                            width: 100%;
                            border-radius: 8px;
                            background: $boxes-background-color;
                            padding: 15px;
                            font-size: $text-sm;
                            resize: vertical;
                            color:$black;
                        }
                      }
                    .btn-group{
                        @extend .d-flex;
                        justify-content: flex-start;
                        margin-top:25px;
                        .btn{
                            padding:0;
                            width:130px;
                            height:46px;
                            @extend .d-flex;
                            cursor: pointer;
                            font-size:$text-sm;
                            border-radius: 99999px;
                            &.filled{
                                color:$white;
                            }
                            +.btn{
                                margin-left:15px;
                            }                    
                        }
                    }
                }
            }
        }
    }
    
}