@use "../styles/Component.scss" as component;

header {
    height: 100px;
    background-color: transparent;
    @extend %d-flex;   // Use % instead of . if it's a placeholder in styles/Component.scss" as component;
    
    ul {
        @extend %d-flex; // Same here for placeholders
        list-style: none;

        li {
            font-size: component.$text-sm;
            padding: 10px 15px;   
            color: component.$black;

            a {
                color: inherit;
                text-decoration: none;

                &.active {
                    color: component.$primary;
                }
            }
        }
    }

    .logo {
        font-size: component.$text-lg;
        width: 6vw;
    }

    .menu-center {
        flex: 1;
    }

    .menu-right {
        ul {
            justify-content: end;

            li {
                &.btn {
                    color: component.$white;

                    &.outline {
                        color: component.$black;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}
