@import "../styles/Component.scss";
.wave-color {
    fill: #FC6668;
}
.wave-color2 {
    fill: #D6027E;
}

.main-waves {
    position: absolute;
    left: 0;
    top:0;
    z-index: -5;
    width: 4000px;
    height: 100vh;
    left: -200px;
    -webkit-transform: rotate3d(1, 1, 1, -20deg);
    transform: rotate3d(1, 1, 1, -20deg);
    .common-wave {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-animation: slides 15s linear infinite;
        animation: slides 15s linear infinite;
        will-change: transform;
        z-index: 3;
        &.wave-2 {
            left: -160px;
            -webkit-animation: swells 15s linear infinite;
            animation: swells 15s linear infinite;
            z-index: -1;
        }
        &.wave-3 {
            left: -60px;
        }
    }
}


@keyframes slides {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }    
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }
}

@keyframes swells {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    
    50% {
        -webkit-transform: translate(-500px, 50px);
        transform: translate(-500px, 50px);
    }
    100% {
        -webkit-transform: translate(-1000px, 0px);
        transform: translate(-1000px, 0px);
    }
}